<div class="row">
</div>
<div class="row">
    <div class="four columns">
        <h3>New book</h3>
        <div>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" ng-model="form.name" />
            </div>
            <div>
                <label for="author">Author</label>
                <input type="text" id="author" ng-model="form.author" />
            </div>
            <div>
                <label for="year">Year</label>
                <input type="number" id="year" ng-model="form.year" />
            </div>
            <div>
                <label for="gender">Gender</label>
                <input type="text" id="gender" ng-model="form.gender" />
            </div>
            <button class="button-primary" ng-click="save()">Save</button>
        </div>
    </div>

    <div class="eight columns">
        <h3>List of books</h3>
        <form ng-submit="search()">
            <label for="gender">Search</label>
            <input type="search" ng-model="text" />
            <button class="button-primary" ng-click="search()">Search</button>
            <button ng-click="clear()">Clear</button>
        </form>
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in list | orderBy:'author'">
                <td><a href="/#/{{item.id}}">{{item.name}}</a></td>
                <td>{{item.author}}</td>
                <td><button ng-click="delete(item.id)">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
